<!-- Header & sidenav-->
<mat-drawer-container class="all-wrap">
  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <div>

        </div>

        <span class="spacer"></span>
        <div>
          <a [routerLink]="['/']">
            <img alt="Pubquiz Icon" src="https://png2.cleanpng.com/sh/9d2fed390eb0050675172e1bdd1b1cc1/L0KzQYm3VcIzN6Fse5H0aYP2gLBuTgB2al52jdtFLYLyibLzlQkubqNqfZ9saYbsfH76hgJ3cZRqi59ueHHwebBolPlwdl43SKMCLXP2dX73kvVtcZ5uhtN7eT24coG7V8k2Omg9T6oDNT66Qoq6VcY2PGI6Sqk5MUm7RYm7WcM2NqFzf3==/kisspng-pub-quiz-royalty-free-civil-services-examination-2017-cse-preliminary-5b047952787885.7293565415270198584935.png"
                 style="height:50px"/>
            <span class="white-space"></span>
            <a style="color: white"><span>Pubquiz</span></a>
          </a>
        </div>
        <span class="spacer"></span>

        <!-- only shown when logged in -->
        <div *ngIf="userService.isLoggedIn | async; else guest">
          <button [routerLink]="'/quiz-form'" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <button [matMenuTriggerFor]="userMenu" mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item>My friends</button>
            <button mat-menu-item routerLink="account-settings">My Account Settings</button>
            <button (click)="userService.logout()" mat-menu-item>Log out</button>
          </mat-menu>
        </div>

        <!-- only shown when guest -->
        <ng-template #guest>
          <button color="accent" mat-raised-button routerLink="login">Login</button>
        </ng-template>
      </mat-toolbar>
    </header>


    <!-- Content -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <a [routerLink]="'/'" style="color: white"><h1>Pubquiz</h1></a>
        <a>This is a Footer</a>
      </div>
    </footer>
  </div>
</mat-drawer-container>
