<!-- Header & sidenav-->
<mat-drawer-container class="all-wrap" fullscreen>
  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <span class="spacer"></span>
        <div>
          <a [routerLink]="['/']">
            <img src="https://shorturl.at/jJMQZ"  style="height:50px"/>
            <span class="white-space"></span>
            <a style="color: white"><span>Pubquiz</span></a>
          </a>
        </div>
        <span class="spacer"></span>

        <!-- only shown when logged in -->
        <div *ngIf="userService.isLoggedIn | async; else guest">
          <button [routerLink]="'/activity-form'" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button matBadge="4" matBadgeColor="accent" matBadgeSize="medium">
            <mat-icon>notifications_active</mat-icon>
          </button>
          <button [matMenuTriggerFor]="userMenu" mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item>My friends</button>
            <button mat-menu-item routerLink="account-settings">My Account Settings</button>
            <button (click)="userService.logout()" mat-menu-item>Log out</button>
          </mat-menu>
        </div>

        <!-- only shown when guest -->
        <ng-template #guest>
          <button mat-stroked-button routerLink="register">Register</button>
          <button color="accent" mat-raised-button routerLink="login">Login</button>
        </ng-template>
      </mat-toolbar>
    </header>


    <!-- Content -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer>

    </footer>
  </div>
</mat-drawer-container>
