<!-- Header & sidenav-->
<mat-drawer-container class="all-wrap">
  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <div>

        </div>

        <span class="spacer"></span>
        <div>
          <a [routerLink]="['/']">
            <img src="https://image.freepik.com/free-vector/beer-mugs-with-foam-set-vintage-style_225004-1146.jpg"
                 style="height:50px"/>
            <span class="white-space"></span>
            <a style="color: white; font-size: 40px"><span> Pubquiz</span></a>
          </a>
        </div>
        <span class="spacer"></span>

        <!-- only shown when logged in -->
        <div *ngIf="userService.isLoggedIn | async; else guest">
          <button [routerLink]="'/quiz-form'" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <button [matMenuTriggerFor]="userMenu" mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu" xPosition="before">
            <button (click)="userService.logout()" mat-menu-item>Log out</button>
          </mat-menu>
        </div>

        <!-- only shown when guest -->
        <ng-template #guest>
          <button color="accent" mat-raised-button routerLink="login">Login</button>
        </ng-template>
      </mat-toolbar>
    </header>


    <!-- Content -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <a [routerLink]="'/'" style="color: white"><h1>Pubquiz</h1></a>
        <a>This is a Footer - </a>
        <a href="https://www.freepik.com/vectors/vintage">Vintage vector created by dgim-studio - www.freepik.com</a>
      </div>
    </footer>
  </div>
</mat-drawer-container>
