<form [formGroup]="answerFormGroup" (ngSubmit)="createAnswer()" class="answer-create__form">

  <!-- Answer Input Field -->
  <mat-form-field>
    <input matInput type="text" placeholder="Question" formControlName="user_answer">
    <mat-hint align="end">Your Answer</mat-hint>

    <mat-error *ngIf="answerFormGroup.controls.user_answer.hasError('required')">
      Answer is required
    </mat-error>
    <mat-error *ngIf="answerFormGroup.controls.user_answer.hasError('answerAlreadyExists')">
      Answer with this name already exists
    </mat-error>
  </mat-form-field>

  <!-- Submit Button [disabled]="!quizFormGroup.valid"-->
  <mat-card-actions align="start">
    <button mat-raised-button color="primary" >{{ submitButtonText }}</button>
    <button mat-raised-button type="button" color="warn" [routerLink]="'/answer-list/' + question_id" >Back</button>
  </mat-card-actions>

</form>
