<button mat-stroked-button  color="accent" [routerLink]="'/quiz-form/'">Create Quiz</button>
<table mat-table style="width: 100%" [dataSource]="quizzes" matSort class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="quiz_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
    <td mat-cell *matCellDef="let element"> {{element.quiz_name}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" [routerLink]="'/quiz-form/' + element.id">Edit</button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="deleteQuiz(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
