<button mat-stroked-button style="background-color: #008d8d; margin: 10px; color: white"
        [routerLink]="'/answer-create/' + id">Create Answer
</button>
<table mat-table style="width: 100%" [dataSource]="answers" matSort class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Sort by ID">ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Answers -->
  <ng-container matColumnDef="user_answer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Sort by Name">name</th>
    <td mat-cell *matCellDef="let element"> {{element.user_answer}}</td>
  </ng-container>

  <!-- Eval Column
  <ng-container matColumnDef="join">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" [routerLink]="'/question-list/' + element.id">Join</button>
    </td>
  </ng-container> -->

  Edit Column
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" [routerLink]="'/quiz-form/' + element.id">Edit</button>
      <!-- <button mat-raised-button color="primary" *ngIf="userService.hasPermission('change_quiz')" color="primary" [routerLink]="'/movie-form/' + element.id">Edit</button>-->
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="confirmDelete(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
