<form [formGroup]="questionFormGroup" (ngSubmit)="updateQuestion()" class="question-form__form">

  <!-- Question Input Field -->
  <mat-form-field>
    <input matInput type="text" placeholder="Question" formControlName="question_string">
    <mat-hint align="end">Your question</mat-hint>
    <mat-error *ngIf="questionFormGroup.controls.question_string.hasError('required')">
      Name is required
    </mat-error>
    <mat-error *ngIf="questionFormGroup.controls.question_string.hasError('nameAlreadyExists')">
      Question with this name already exists
    </mat-error>
  </mat-form-field>

  <!-- Answer Input Field -->
  <mat-form-field>
    <input matInput type="text" placeholder="Answer" formControlName="master_answer">
    <mat-hint align="end">The correct answer of the question</mat-hint>

    <mat-error *ngIf="questionFormGroup.controls.master_answer.hasError('required')">
      Name is required
    </mat-error>
    <mat-error *ngIf="questionFormGroup.controls.master_answer.hasError('answerAlreadyExists')">
      Question with this name already exists
    </mat-error>
  </mat-form-field>


  <!-- Submit Button {{ submitButtonText }} -->
  <mat-card-actions align="start">
    <button mat-raised-button color="primary"  [disabled]="!questionFormGroup.valid">
      <span *ngIf="!questionFormGroup.controls.id.value">Create</span>
      <span *ngIf="questionFormGroup.controls.id.value">Update</span>
    </button>
    <button mat-raised-button color="warn" [routerLink]="'/question-list/' + quiz_id" >Back</button>
  </mat-card-actions>

</form>
